body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('igm2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "roboto-regular", sans-serif;
}
.form-container {
    width: 380px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    backdrop-filter: blur(10px);
    }

.title {
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: #8B008B;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: black;
    text-decoration-color: black;
    padding-bottom: 10px;
}

.page-link-label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.page-link-label:hover {
    color: #8B008B;
}

.form-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    font-size: 16px;
    background: #8B008B;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.65) 5px 3px 8px;
}

.form-btn:active {
    box-shadow: none;
}

.sign-up-label {
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: black;
}

.sign-up-link a {
    margin-left: 2px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: #8B008B;
    color: #8B008B;
    cursor: pointer;
    font-weight: 600;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}

.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-link:hover{
    color: aquamarine;
}
      